* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
/* .image {
   background-color: red; 
} */
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 4px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.fix-arrow {
  margin-left: 10px;
  display: inline;
  padding: 10px;
}
.checked {
  color: orange;
}
.text {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}
h3 {
  display: inline;
}
.stars {
  padding: 10px;
}
.color1 {
  color: red;
  font-size: 25px;
}
.color2 {
  color: rgba(1, 34, 184, 0.76);
  font-size: 25px;
  font-weight: lighter;
}
.fix {
  margin-left: 20px;
  display: inline;
}
.ratings {
  margin-left: 25px;
  font-size: 23px;
  color: blue;
  display: inline;
}
